{% extends 'layouts/base.html' %}

{% block stylesheets %}

<style>
  .center-div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
</style>

{% endblock stylesheets %}

{% block content %}

<div class="header pb-6 d-flex align-items-center"
  style="min-height: 500px; background-image: url(/static/assets/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-default opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">

    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--6">
  <div class="row">
    <div class="col-xl-8 order-xl-1">
      <div class="col-lg-7 col-md-10 center-div">
        <h1 class="text-white">فروشگاه ۱۲۳ کیف</h1>
        <p class="text-white mt-0 mb-5">به سامانه رهگیری سفارشات خوش آمدید</p>
      </div>
      <div class="card report_main">
        <div class="card-body">
          <h6 class="center-div heading-small text-muted mb-4">برای رهگیری نیاز است کد سفارش خود را وارد
            کنید</h6>
          <div class="pl-lg-4">
            <div class="row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label class="form-control-label" for="input-username">کد سفارش به انگلیسی</label>
                  <input type="number" id="input-username" class="form-control order_code"
                    placeholder="کد سفارش .. مانند 8454333" value="">
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-info" onclick="req()">رهگیری سفارش</button>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}
<script>
  function req() {
    let order_code = $(".order_code").val();
    if (order_code) {
      $.ajax({
        url: '/req',
        type: 'POST',
        data: {
          'order_code': order_code,
        },
        success: function (response) {
          if (response.success === false) {
            Swal.fire({
              icon: "info",
              title: 'لطفا۴۸ الی ۷۲ ساعت پس از ثبت سفارش اقدام به دریافت کد رهگیری مرسوله پستی خود از طریق این پنل نمایید',
              showConfirmButton: false,
              timer: 18000,
            });
          } else {
            if(response.success == '200'){
              Swal.fire({
              icon: "success",
              title: `کد رهگیری مرسوله شما برابر است با : ${response.tracking_number}`,
              showConfirmButton: true,
              confirmButtonText: 'تایید', 
            });
            }else if(response.status == '1000'){
              $('.report_main').html(`
              <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
  <h2 class="text-center mb-3">
    <span class="text-body-secondary">${response.context.first_name} ${response.context.last_name}</span>
  </h2>
  <div class="row justify-content-end">
    <div class="col text-right">
      <ul>
        </li>شهر: ${response.context.city}</li>
        </ul>
              <ul>
        </li>روش پرداخت: ${response.context.payment_method_title}</li>
        </ul>
        <ul>
                </li>روش ارسال: ${response.context.shipping_method}</li>
        </ul>
                <ul>
        </li>هرینه حمل و نقل: ${response.context.shipping_total} تومان</li>
          </ul>
        <ul>
        </li>مجموع فاکتور: ${response.context.total} تومان</li>
          </ul>
    </div>
  </div>
</div>
                  <div class="card-header border-0">
            <h4 class="mb-0 text-right">محصولات</h4>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">محصول</th>
                  <th scope="col" class="sort" data-sort="budget">تعداد</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list report_main_table">
                 </tbody>
                          </table>
          </div>
`)
  for (let i = 0; i <= response.context.cart.length; i++){
    $('.report_main_table').append(`
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src=${response.context.cart[i].image}>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">${response.context.cart[i].name}</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    ${response.context.cart[i].quantity}
                  </td>
    `);
    $(`.report_main_table`).append(`
    <div class="card-header border-0">
            <h4 class="mb-0 text-right">وضعیت سفارش</h4>
            <hr>
            <h3 class="mb-0 text-right">سفارش شما در حال انجام است. کد رهگیری مرسوله شما پس از گذشت ۲ تا ۳ روز از ثبت سفارش برای شما پیامک میشود همچنین از طریق این پنل نیز قابل دریافت است</h3>
          </div>
    `)
  }//endfor

            }else if(response.status == '1001'){
              $('.report_main').html(`
              <div class="position-relative p-5 text-center text-muted bg-body border border-dashed rounded-5">
  <h2 class="text-center mb-3">
    <span class="text-body-secondary">${response.context.first_name} ${response.context.last_name}</span>
  </h2>
  <div class="row justify-content-end">
    <div class="col text-right">
      <ul>
        </li>شهر: ${response.context.city}</li>
        </ul>
              <ul>
        </li>روش پرداخت: ${response.context.payment_method_title}</li>
        </ul>
        <ul>
                </li>روش ارسال: ${response.context.shipping_method}</li>
        </ul>
                <ul>
        </li>هرینه حمل و نقل: ${response.context.shipping_total} تومان</li>
          </ul>
        <ul>
        </li>مجموع فاکتور: ${response.context.total} تومان</li>
          </ul>
    </div>
  </div>
</div>
                  <div class="card-header border-0">
            <h4 class="mb-0 text-right">محصولات</h4>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">محصول</th>
                  <th scope="col" class="sort" data-sort="budget">تعداد</th>
                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list report_main_table">
                 </tbody>
                          </table>
          </div>
`)
  for (let i = 0; i <= response.context.cart.length; i++){
    $('.report_main_table').append(`
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src=${response.context.cart[i].image}>
                      </a>
                      <div class="media-body">
                        <span class="name mb-0 text-sm">${response.context.cart[i].name}</span>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    ${response.context.cart[i].quantity}
                  </td>
    `);
    $(`.report_main_table`).append(`
    <div class="card-header border-0">
            <h4 class="mb-0 text-right">وضعیت سفارش</h4>
            <hr>
            <h3 class="mb-0 text-right">ارسال از انبار های ۱۲۳ کیف انجام شده. کد رهگیری مرسوله به ۱۲۳ کیف داده نشده-> تاخیر پست در ارایه بارکد</h3>
          </div>
    `)
  }//endfor
            }else{
              Swal.fire({
              icon: "info",
              title: 'لطفا۴۸ الی ۷۲ ساعت پس از ثبت سفارش اقدام به دریافت کد رهگیری مرسوله پستی خود از طریق این پنل نمایید',
              showConfirmButton: true,
              confirmButtonText: 'تایید', 
            });
            };//endif
          }//endif
        },
      });// end ajax
    } else {
      Swal.fire({
        icon: "error",
        title: `لطفا کد سفارش خودتان را وارد نمایید`,
        showConfirmButton: false,
        timer: 1000,
      });
    };// endif
  };// end fun
</script>
{% endblock javascripts %}